/* Copyright 2010 Ed Brambley <ed.brambley@cantab.net>.  All rights reserved. */

/* General */
body { font-family: sans-serif; }

/* Header */
div.header { font-family: serif;
	     font-size: 150%;
	     border: solid yellow;}
div.header img { vertical-align: middle;
	         margin: 1ex 2em 1ex 1ex ; }

/* Side bar */
div.sidebar { float: right; 
	      margin: 1em 0em 0em 1em;
	      padding: 1em;
	      border: solid yellow;
              background-color: #FFFFC0; }
div.sidebar div.login_heading { padding-top: 1em; }
div.sidebar div.login_body {padding-left: 1em;}
div.sidebar ul {padding: 0pt;
                margin: 0pt; }
div.sidebar ul li {list-style-type: none;}
div.sidebar ul li.head { font-weight: bold;
	                 padding-bottom: 0.5em;}

/* Breadcrumbs */
div.breadcrumb { margin: 1em 0em 1em 0em;
	         padding: 0.5em 0em 0.5em 0em; }
div.breadcrumb span { margin: 1em 0em 1em 0em;
	              padding: 0.5em;
                      border: solid black 2px;
		      font-size: 80%}


/* Messages */
div.message { margin: 1em 0em 2em 0em;
              padding: 0em; }
div.error   { margin: 0em;
	      padding: 1em;
              border: solid red;
              background-color: #FFC0C0;
              display: table-cell;}
div.notice  { margin: 0em;
	      padding: 1em;
              border: solid #FF8000;
              background-color: #FFE0C0;
              display: table-cell;}
div.success { margin: 0em;
	      padding: 1em;
              border: solid #00C000;
              background-color: #C0FFC0;
              display: table-cell;}
div.announcement { margin: 0em;
	           padding: 1em;
                   border: solid #C000C0;
                   background-color: #FFC0FF;
                   display: table-cell;}


/* Main text */

th { text-align: left;
     vertical-align: top; }


/* Lists (using the table construction) */
table.list td { padding-right: 1em; }
table.list th { padding-right: 1em; }

/* Lists for Mifare_Check_Simple (using the table construction) */
table.mifare td { padding-right: 1em; 
                  vertical-align: top; }
table.mifare th { padding-right: 1em;
                  vertical-align: top; }

/* Forms (using the table construction) */
table.form th { text-align: right;}

/* Form for editing standing orders */
table.standing_orders_form td { padding-right: 1em;
	                        text-align: center; }
table.standing_orders_form th { padding-right: 1em;
	                        text-align: center; }
table.standing_orders_form td.name { padding-right: 1em;
	                             text-align: left; }

/* Table for viewing bookings using Mifare cards */
table tr.admit            { color: #00C000;
                            font-size: 200%; }
table tr.already_admitted { color: orange;
                            font-size: 200%; }
table tr.refuse           { color: red;
                            font-size: 200%; }


/* Headings */
h1 { }
h2 { margin-top: 1.5em; }
h3 { }


/* Menus */

div.menu { margin-left: 1em;
           margin-right: 1em;
           padding: 1em;
	   border: solid black 1pt;
           text-align: center;
           display: table-cell;}
